<div th:fragment="navbar"
	class="row border p-2 align-items-center justify-content-center">
	<div class="col-3">
		<h2>Best of:</h2>
	</div>
	<div class="col-3">
		<a th:href="@{/movies}" class="btn btn-primary btn-block">Movies</a>
	</div>
	<div class="col-3">
		<a th:href="@{/songs}" class="btn btn-primary btn-block">Songs</a>
	</div>
</div>

<div th:fragment="layout(title, items)" class="row">
	<div class="col text-center my-5">
		<h1 th:text="${title}"></h1>
		<ul class="d-flex flex-column align-items-center list-unstyled my-4">
			<li class="border mb-2 col-4" th:each="item : ${items}">
				<a th:href="@{/items/} + ${item.id}" th:text="${item.title}" class="text-decoration-none"></a>
			</li>
		</ul>

		<div class="mt-5">
			<a th:href="@{/}" class="btn btn-primary btn-block">Homepage</a>
		</div>
	</div>
</div>
