<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container my-5">
		<h1 th:text="${movie.title}" class="text-center mb-4"></h1>
		<div class="row">
			<div class="col-12 col-md-4">
				<img th:src="@{/img/test.png}" alt="Immagine del film" class="img-fluid">
			</div>
			<div class="col-12 col-md-8">
				<h2>Movie detail:</h2>
				<ul class="list-group">
					<li class="list-group-item">ID: <span th:text="${movie.id}"></span></li>
					<li class="list-group-item">Titolo: <span
						th:text="${movie.title}"></span></li>
				</ul>
			</div>
		</div>

		<div class="mt-5 text-center">
			<a th:href="@{/movies}" class="btn btn-primary btn-block">Back to Movies list</a>
		</div>
	</div>

</body>
</html>